@import url('../node_modules/uikit/dist/css/uikit.min.css');

html {
  height: 100vh;
  width: 100vw;
  position: static;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #283747;
  background-color: #f3f3f3;
}

.Trump {
  color: #932432 !important;
}

.Biden {
  color: #3c1874 !important;
}

.text {
  color: #f3f3f3 !important;
}

.uk-input,
.uk-select,
.uk-search-input,
.uk-textarea {
  border-radius: 4px !important;
}
